{% extends "layout.html" %}

{% block content %}


<div class="container" style="text-align: center; margin-top: 2%; margin-bottom: 2%;">

    <h1 style="text-align: center; margin-top: 2%;  font-family: 'Raleway',sans-serif; font-size: 45px; font-weight: 800; line-height: 72px;">Search Seasons</h1>
    <div style="padding-bottom: 5%;">
        <h5 style="position: absolute; left: 30%; width: 40%;">Search for a player's name below and get their stats</h5>
    </div>
    <input style="text-align: center;" type="number" min="1950" max="2023" step="1" value="2016" />


       <br>
     <br>
    <button class="btn btn-outline-success" type="submit">Search</button>

  </div>





{% endblock %}