{% extends "layout.html" %}

{% block content %}

  <div class="container" style="text-align: center; margin-top: 2%; margin-bottom: 2%;">
    <h1 style="text-align: center; margin-top: 2%;  font-family: 'Raleway',sans-serif; font-size: 45px; font-weight: 800; line-height: 72px;">NBA StatFinder</h1>
    <div style="padding-bottom: 5%;">
        <h5 style="position: absolute; left: 30%; width: 40%;">Performance of every NBA/ABA athlete measures using over 30 performance metrics</h5>
    </div>
  </div>

  <div class="container-fluid">
      {% load static %}
    <div class="row d-flex justify-content-center">
        <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: 2%;">
            <img src="{% static 'images/cool-basketball-background.jpg' %}" class="card-img-top" alt="trackers">
            <div class="card-body">
                <h5 class="card-title">Player Stats</h5>
                <p class="card-text">Find a player's career stats, year by year</p>
                <div style="text-align: center; margin-top: 30%;">
                    <a href="/player" class="btn btn-light">Click here!</a>
                </div>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: 2%;">
            <img src="{% static 'images/jerrywest.jpeg' %}" class="card-img-top" alt="chatrooms">
            <div class="card-body">
                <h5 class="card-title">Season Stats</h5>
                <p class="card-text">Pick a season and find out the year's best performers</p>
                <div style="text-align: center; margin-top: 30%;">
                    <a href="/season" class="btn btn-light">Find More!</a>
                    <!--<a href="../chatrooms/MedChatroom.html" class="btn btn-light">Medical chatroom</a>-->
                </div>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: 2%;">
            <img src="{% static 'images/champignons.jpeg' %}" class="card-img-top" alt="wellness check">
            <div class="card-body">
                <h5 class="card-title">Advanced Stats</h5>
                <p class="card-text">Find player's performances in over 30 advanced stats</p>
                <div style="text-align: center; margin-top: 30%;">
                    <a href="../WellnessCheck/wellnessCheck.html" class="btn btn-light">Click here!</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="page-footer" style="margin-top: 5%; text-align: center;">
        <p style="color: lightgray;">Projeto WS 2022/2023</p>
        <p style="color: lightgray; margin-top: -1.4%;">Eduardo Fernandes, Pedro Figueiredo, Renato Dias</p>
    </div>


{% endblock %}