{% extends "layout.html" %}

{% block content %}

<div class="container text-center my-5" style="width: 600px; margin: auto;">
    <h1 class="display-4 font-weight-bold mb-4" >Top Stats</h1>
    <div class="mb-4">
        <p class="lead" style="color: #777;">Select one of the stats below to get the top 10 players for that stat.</p>
    </div>
    <form class="form-inline justify-content-center" role="top10_stat" method="get">
        <div style="text-align:center;">
            <h3 class="display-6 font-weight-bold mb-4">Select a Stat:</h3>
            <label style="margin-right: 10px;">
            <input type="radio" name="stat" value="points" style="margin-right: 5px;">Points
            </label>
            <label style="margin-right: 10px;">
            <input type="radio" name="stat" value="assists" style="margin-right: 5px;">Assists
            </label>
            <label style="margin-right: 10px;">
            <input type="radio" name="stat" value="blocks" style="margin-right: 5px;">Blocks
            </label>
            <br>
            <label style="margin-right: 10px;">
            <input type="radio" name="stat" value="steals" style="margin-right: 5px;">Steals
            </label>
            <label style="margin-right: 10px;">
            <input type="radio" name="stat" value="two_points" style="margin-right: 5px;">Two Points
            </label>
            <label style="margin-right: 10px;">
            <input type="radio" name="stat" value="three_points" style="margin-right: 5px;">Three Points
            </label>
        </div>
        <button class="btn btn-lg btn-success mb-2" type="submit" style="width: 100%; background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 4px;">Get top 10</button>
    </form>
</div>

{% endblock %}